.hidden {
    display: none;
}

p {
    line-height: 20px;
}

.head {
    background-color: #1e272e;
    width: 100%;
    height: 240px;
}

.logo {
    height: 161px;
    width: 230px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

#search {
    margin-left: 1200px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: none;
    position: relative;
    top : -50px;
    font-size: 15px;
    padding-left: 5px;
}

#push:hover {
    -webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

#push {
    height: 38px;
    width: 38px;
    position: relative;
    top : -37px;
    right : 50px;
    cursor: pointer;
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.transition {
    background-color: aliceblue;
    height: 2px;
    width: 100%;
    position: relative;
    top: -30px;
}

.list {
    width: 100%;
    height: 100vh;
    background-color: #1e272e;
    padding-top: 50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 98%; 
    margin: 0 auto;
}

.picture {
    height: 390px;
    width: 290px;
    border: 1px solid aliceblue;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.picture:hover {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    border: 1px solid #f1c40f;
    border-radius: 10px;
    cursor: pointer;
}

.title_movie {
    color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.items {
    height: 420px;
    width: 292px;
}
/**/
.documentation {
    display: flex;
    background-color: #1e272e;
}

#info {
    width: 100%;
    color: white;
    padding-top: 120px;
}

#poster {
    background-color: #1e272e;
    padding-top: 100px;
    padding-left: 400px;
    width: 600px;
}

.img_info {
    border: 1px solid aliceblue;
    margin-top: 10px;
    margin-bottom: 20px;
}

span {
    color: #ffc100;
}

.space {
    margin-bottom: 10px;
    line-height: 20px;
}



/**/
.footer {
    background-color: #1e272e;
    padding-top: 50px;
}

.split {
    background-color: white;
    height: 2px;
    width: 100%;
}

.transition-img {
    position: relative;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    height: 54px;
    width: 54px;
}

.rs-box {
    margin-left: 750px;
    margin-top: 50px;
}

.fb {
    height: 70px;
    width: 70px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fb:hover {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.tw {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.tw:hover {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.news-box {
    position: relative;
    left: 120px;
}

.news {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.news-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}
.news-info:hover {
    cursor: pointer;
}


.citys-box {
    position: relative;
    left: 60px;
}

.citys {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.citys-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}
.citys-info:hover {
    cursor: pointer;
}

.appli-box {
    position: relative;
    left: -50px;
}

.appli {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.appli-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}

.download {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 250px;
    width: 250px;
}

.apple {
    height: 60px;
    width: 200px;
    margin-top: 30px;
    border: 1px solid #ffc100;
    border-radius: 10px;
}

.android {
    height: 60px;
    width: 200px;
    margin-top: 20px;
    border: 1px solid #ffc100;
    border-radius: 10px;
}

/**/

.final {
    background-color: #1e272e;
}

.white-bar {
    height: 2px;
    background-color: white;
    width: 100%;
}

